#overlay{
  position: fixed;                          /* 位置を固定 */
  inset: 0;                                 /* 上下左右の位置指定（top, right, bottom, left）を、すべてまとめて 0 にする　= 画面全体に広がる */
  background-color: rgba(0, 0, 0, 0.5);   /* 若干透ける感じ */
  display: flex;                            /* 子要素を自動計算して配置する */
  align-items: center;                      /* 子要素の縦を中央に揃える */
  justify-content: center;                  /* 子要素の横を中央に揃える */

  opacity: 0;                               /* 見えなくする */
  pointer-events: none;                     /* 触れなくする*/
  transition: opacity 0.3s ease;            /* 0.3sで変化する */
}

/* 後でDOMでopenクラスをつける */
#overlay.open {
  opacity: 1;
  pointer-events: auto;
}

#modal {
  background-color: #fff;
  padding: 24px 32px;
  border-radius: 8px;                      /* 角を丸くする */
  transform: translateY(20px);
  transition: transform 0.3s ease;
}

/* 子孫結合子 : overlayかつopenの中にあるid=modelを操作（この場合は、何階層下でもよい） */
#overlay.open #modal {
  transform: translateY(0);
}